{% extends "network/layout.html" %}

{% block body %}
    <h1>All Posts</h1>
    {% if user.is_authenticated %}
        <h2>Create New Post</h2>
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <div class="form-group mb-3">
                {{ form }}
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    {% endif %}
    <div class="container-fluid">
        {% for post in page_obj %}
            <div class="row m-2 border flex-column">
                <div class="my-1">
                    <h3><a href="{% url 'display_profile' post.user.id %}">{{ post.user }}</a></h3>
                </div>
                <div class="my-1">
                    <p id="content_{{ post.id }}">{{ post.content }}</p>
                </div>
                <div class="my-1">
                    <span>{{ post.date }}</span>
                </div>
                <div class="my-1">
                   <span>Likes: </span><span id="likeCount_{{ post.id }}">{{ post.post_like.count }}</span>
                </div>
                {% comment %} modal popup for editing posts {% endcomment %}
                <div class="my-1">
                    {% if user.is_authenticated %}
                        {% if user == post.user %}
                        <button class="btn btn-primary" type="button" data-target="#edit_modal_{{ post.id }}" data-toggle="modal">Edit</button>
                        <div class="modal" id="edit_modal_{{ post.id }}" tabindex="-1" aria-labelledby="edit_modal_{{ post.id }}" aria-hidden="true" role="dialog">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Edit Post</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <textarea rows=5 id="textarea_{{ post.id }}" class="form-control" name="content">{{ post.content }}</textarea>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-primary" onclick="saveEdit({{ post.id }})" >Save</button>
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% comment %} Like/Unlike buttons {% endcomment %}
                        {% else %}
                            {% if post.id in liked_posts %}
                                <button class="btn btn-info fa fa-thumbs-down" id="{{ post.id }}" onclick="likePost({{ post.id }}, {{ liked_posts }})"></button>
                            {% else %}
                                <button class="btn btn-info fa fa-thumbs-up" id="{{ post.id }}" onclick="likePost({{ post.id }}, {{ liked_posts }})"></button>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    {% if page_obj.previous_page_number == 1 %}
                        <li class="page-item"><a class="page-link" href="?page=1">Previous</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}
                {% endif %}
                {% if page_obj.has_next %}
                    {% if page_obj.next_page_number == page_obj.paginator.num_pages %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Next</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    </div>
    
    
{% endblock %}