{% extends "network/layout.html" %}

{% block body %}
    <h1>All Posts</h1>
    {% if user.is_authenticated %}
        <h2>Create New Post</h2>
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <div class="form-group mb-3">
                {{ form }}
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    {% endif %}
    <div class="container-fluid">
        {% for post in posts %}
            <div class="row m-2 border flex-column">
                <div class="my-1">
                    <h3>{{ post.user }}</h3>
                </div>
                <div class="my-1">
                    <p>{{ post.content }}</p>
                </div>
                <div class="my-1">
                    <span>{{ post.date }}</span>
                </div>
                <div class="my-1">
                    <span>Likes:</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}