{% extends "network/layout.html" %}

{% block body %}
    <div class="container-fluid ml-2">
        <h1>{{ user }}'s Profile</h1>
        <span>Followers: {{ followers.count }}</span><br>
        <span>Following: {{ following.count}}</span><br>
        {% if user.is_authenticated %}
            {% if user.id != request.user.id %}
                {% if is_following == True %}
                <form action="{% url 'unfollow' %}" method="POST">
                    {% csrf_token %}
                    <input type ="hidden" name="userfollow" value="{{ user }}">
                    <button class="btn btn-primary">Unfollow</button>
                </form>    
                {% else %}
                <form action="{% url 'follow' %}" method="POST">
                    {% csrf_token %}
                    <input type ="hidden" name="userfollow" value="{{ user }}">
                    <button class="btn btn-primary">Follow</button>
                </form>              
                {% endif %}
            {% endif %}
        {% endif %}
        <h2>{{ user }}'s Posts:</h2>
    </div>
    <div class="container-fluid">
        {% for post in page_obj %}
            <div class="row m-2 border flex-column">
                <div class="my-1">
                    <p>{{ post.content }}</p>
                </div>
                <div class="my-1">
                    <span>{{ post.date }}</span>
                </div>
                <div class="my-1">
                    <span>Likes:</span>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    {% if page_obj.previous_page_number == 1 %}
                        <li class="page-item"><a class="page-link" href="?page=1">Previous</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}
                {% endif %}
                {% if page_obj.has_next %}
                    {% if page_obj.next_page_number == page_obj.paginator.num_pages %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Next</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    </div>
    
{% endblock %}