{% extends "network/layout.html" %}

{% block body %}
    <div class="container-fluid ml-2">
        <h1>{{ user }}'s Profile</h1>
        <span>Followers: {{ followers.count }}</span><br>
        <span>Following: {{ following.count}}</span><br>
        {% if user.is_authenticated %}
            {% if user.id != current_user%}
                {% if is_following %}
                <form action="{% url 'unfollow' %}" method="POST">
                    {% csrf_token %}
                    <input type ="hidden" name="userfollow" value="{{ user.id }}">
                    <button class="btn btn-primary">Unfollow</button>
                </form>    
                {% else %}
                <form action="{% url 'follow' %}" method="POST">
                    {% csrf_token %}
                    <input type ="hidden" name="userfollow" value="{{ user.id }}">
                    <button class="btn btn-primary">Follow</button>
                </form>              
                {% endif %}
            {% endif %}
        {% endif %}
        <h2>{{ user }}'s Posts:</h2>
    </div>
    <div class="container-fluid">
        {% for post in posts %}
            <div class="row m-2 border flex-column">
                <div class="my-1">
                    <p>{{ post.content }}</p>
                </div>
                <div class="my-1">
                    <span>{{ post.date }}</span>
                </div>
                <div class="my-1">
                    <span>Likes:</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}